<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.yusufesenboga.pickup.StartSessionIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>StartSessionIntent</string>
					<key>BundleIdentifier</key>
					<string>com.yusufesenboga.pickup</string>
					<key>Name</key>
					<string>Pickup</string>
					<key>TeamIdentifier</key>
					<string>E3FG37H8X3</string>
				</dict>
				<key>UUID</key>
				<string>211AC3A3-B9B5-5108-A91D-1FB67433CF13</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.delay</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFDelayTime</key>
				<integer>50</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.yusufesenboga.pickup.ShowTimerIntent</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>AppIntentIdentifier</key>
					<string>ShowTimerIntent</string>
					<key>BundleIdentifier</key>
					<string>com.yusufesenboga.pickup</string>
					<key>Name</key>
					<string>Pickup</string>
					<key>TeamIdentifier</key>
					<string>E3FG37H8X3</string>
				</dict>
				<key>UUID</key>
				<string>51C01EE9-3E90-50EB-8FC8-8502A13175C1</string>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>3036.0.4</string>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61456</integer>
		<key>WFWorkflowIconStartColor</key>
		<integer>1238682367</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array/>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowName</key>
	<string>Pickup Session</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array/>
</dict>
</plist>
